<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport - the area of a web page that's visible to the user -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- adding external bootstrap5 CSS and External CSS3 links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/Domestic_Holdings.css">
    <title>My Domestic Holdings</title>
</head>
<body>

     <!-- navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i>ExpandUr</i>Wealth</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/domestic_stocks" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Discover
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/domestic_stocks">Domestic Stocks</a></li>
                    <li><a class="dropdown-item" href="#">US Stocks</a></li>
                    <li><a class="dropdown-item" href="/mutual_funds_explore">Mutual Funds</a></li>
                    <li><a class="dropdown-item" href="/ipo">IPO</a></li>
                    <li><a class="dropdown-item" href="#">Gold</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/domestic_holdings">My Holdings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/watchlist">Watch-List</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Learn&Invest
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/fundamental_analysis">Fundamental and Industry Analysis</a></li>
                  <li><a class="dropdown-item" href="#">Technical Analysis</a></li>
                  <li><a class="dropdown-item" href="#">Macro & Micro Economics</a></li>
                  <li><a class="dropdown-item" href="#">Financial & Investing Psychology</a></li>
                  <li><a class="dropdown-item" href="#">Personal Finance</a></li>
                  <li><a class="dropdown-item" href="/stock_market_terminology">Stock Market Terminology</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Market News</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  My Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#"><h5><%= name %></h5> Account Details ></li>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <li>
                      <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="dropdown-item">Logout</button>
                      </form>
                    </li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search about stocks here..." aria-label="Search">
              <button class="btn btn-success" type="submit">Explore</button>
            </form>
          </div>
        </div>
      </nav>
      
      <!-- Market Indices -->
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- 1st column info -->
            <a href="#" id="nifty-50"><h5>Nifty 50 (Market Index)</h5></a>   
            <p id="index1-price">---</p>
          </div>
          <div class="col">
            <!-- 2nd column info -->
            <a href="#" id="sensex"><h5>Sensex (Market Index)</h5></a>
            <p id="index2-price">---</p>
          </div>
          <div class="col">
            <!-- 3rd column info -->
            <a href="#" id="bank-nifty"><h5>Bank Nifty (Market Index)</h5></a>
            <p id="index3-price">---</p>
          </div>
        </div>
      </div>

      <h4 id="heading-1">Your Portfolio</h4>

      <div class="container">
        <div class="row">
          <div class="col">
            <h6>Total Investment Value (₹)</h6> <!-- 1st column info -->
            <p id="total-investment">0</p>
          </div>
          <div class="col">
            <h6>Total Current Value (₹)</h6><!-- 2nd column info -->
            <p id="total-current">0</p>
          </div>
          <div class="col">
            <h6>Total Returns (₹)</h6><!-- 3rd column info -->
            <p id="total-returns">0</p>
          </div>
          <div class="col">
            <h6>Total Returns (%)</h6>
            <p id="total-returns-percent">0</p><!-- 4th column info -->
          </div>
        </div>
      </div>

<!-- Stock Holdings Table -->
<table class = table-light id="stock-table">
  <thead>
    <tr>
      <th>Stock Name</th>
      <th>Sector</th>
      <th>Shares Owned</th>
      <th>Capital Invested per share (₹)</th>
      <th>Current Market Price (₹)</th>
      <th>Investment Value</th>
      <th>Current Value</th>
      <th>Returns (₹)</th>
      <th>Returns (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr class="stock-row" data-stock="THE FEDERAL BANK">
      <td id="stock-a">The Federal Bank</td>
      <td>Banking (Private)</td>
      <td id="shares-buy-A">20</td>
      <td id="price-per-share-A">0</td>
      <td id="price-a">0</td>
      <td id="investment-a">0</td>
      <td id="current-value-a">0</td>
      <td id="returns-a">0</td>
      <td id="returns-a-percent"></td>
    </tr>
    <tr class="stock-row" data-stock="NYKAA">
      <td id="stock-b">Nykaa</td>
      <td>Online Services</td>
      <td id="shares-buy-B">18</td>
      <td id="price-per-share-B">0</td>
      <td id="price-b">0</td>
      <td id="investment-b">0</td>
      <td id="current-value-b">0</td>
      <td id="returns-b">0</td>
      <td id="returns-b-percent">0</td>
    </tr>
    <tr class="stock-row" data-stock="TATA MOTORS">
      <td id="stock-c">Tata Motors</td>
      <td>Automobile</td>
      <td id="shares-buy-C">5</td>  
      <td id="price-per-share-C">0</td>
      <td id="price-c">0</td>
      <td id="investment-c">0</td>
      <td id="current-value-c">0</td>
      <td id="returns-c">0</td>
      <td id="returns-c-percent">0</td>
    </tr>
    <tr class="stock-row" data-stock="INFOSYS">
      <td id="stock-d">Infosys</td>
      <td>Information Tech.</td>
      <td id="shares-buy-D">13</td>
      <td id="price-per-share-D">0</td>
      <td id="price-d">0</td>
      <td id="investment-d">0</td>
      <td id="current-value-d">0</td>
      <td id="returns-d">0</td>
      <td id="returns-d-percent">0</td>
    </tr>
    <tr class="stock-row" data-stock="CHENNAI PETROLEUM CORPORATION">
      <td id="stock-e">Chennai Petro Corp.</td>
      <td>Fuel, Gas, Oil</td>
      <td id="shares-buy-E">3</td>
      <td id="price-per-share-E">0</td>
      <td id="price-e">0</td>
      <td id="investment-e">0</td>
      <td id="current-value-e">0</td>
      <td id="returns-e">0</td>
      <td id="returns-e-percent">0</td>
    </tr>
    <tr class="stock-row" data-stock="ICICI BANK">
      <td id="stock-f">ICICI Bank</td>
      <td>Banking (Private)</td>
      <td id="shares-buy-F">42</td>
      <td id="price-per-share-F">0</td>
      <td id="price-f">0</td>
      <td id="investment-f">0</td>
      <td id="current-value-f">0</td>
      <td id="returns-f">0</td>
      <td id="returns-f-percent">0</td>
    </tr>
    <tr class="stock-row" data-stock="TATA CONSULTANCY SERVICES">
      <td id="stock-g">TCS</td>
      <td>Information Tech.</td>
      <td id="shares-buy-G">2</td>
      <td id="price-per-share-G">0</td>
      <td id="price-g">0</td>
      <td id="investment-g">0</td>
      <td id="current-value-g">0</td>
      <td id="returns-g">0</td>
      <td id="returns-g-percent">0</td>
    </tr>
    <tr class="stock-row" data-stock="BAJAJ HOLDINGS & INVESTMENT">
      <td id="stock-h">Bajaj Holdings & Investment</td>
      <td>Financial Services</td>
      <td id="shares-buy-H">1</td>
      <td id="price-per-share-H">0</td>
      <td id="price-h">0</td>
      <td id="investment-h">0</td>
      <td id="current-value-h">0</td>
      <td id="returns-h">0</td>
      <td id="returns-h-percent">0</td>
    </tr>
    <tr class="stock-row" data-stock="COSMO FIRST">
      <td id="stock-i">Cosmo First</td>
      <td>Packaging</td>
      <td id="shares-buy-I">2</td>
      <td id="price-per-share-I">0</td>
      <td id="price-i">0</td>
      <td id="investment-i">0</td>
      <td id="current-value-i">0</td>
      <td id="returns-i">0</td>
      <td id="returns-i-percent">0</td>
    </tr>
    <tr class="stock-row" data-stock="ITC">
      <td id="stock-j">ITC</td>
      <td>Multi Business Segment</td>
      <td id="shares-buy-J">17</td>
      <td id="price-per-share-J">0</td>
      <td id="price-j">0</td>
      <td id="investment-j">0</td>
      <td id="current-value-j">0</td>
      <td id="returns-j">0</td>
      <td id="returns-j-percent">0</td>
    </tr>
  </tbody>
</table>

<!-- Buy / Sell pop up -->
<div class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <a href="/company-details-and-fundamentals" id="about-stock"><h5 class="stock-name"></h5></a>
    <div class="quantity-field">
      <label for="quantity"><h6><b>Quantity:</b></h6></label>
      <input type="number" id="quantity" name="quantity" min="1" max="100" value="1">
    </div>
    <br>
    <div class="buy-sell-options">
      <button class="buy-button">Buy</button>
      <button class="sell-button">Sell</button>
    </div>
  </div>
</div>

<br> <br>

<!-- Footer -->
<footer
class="text-center text-lg-start text-white"
style="background-color: #1c2331"
>
<!-- Section: Social media -->
<section
   class="d-flex justify-content-between p-4"
   style="background-color: darkgreen"
   >
<!-- Left -->
<div class="me-5">
<span>Don't be a stranger, connect with us on social networks and stay up to date.:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
<a href="#" class="text-white me-4">
<b class="fab fa-twitter" id="social-1">Twitter</b>
</a>
<a href="#" class="text-white me-4">
<b class="fab fa-google" id="social-2">Google</b>
</a>
<a href="" class="text-white me-4">
<b class="fab fa-instagram" id="social-3">Insta</b>
</a>
<a href="" class="text-white me-4">
<b class="fab fa-linkedin" id="social-4">LinkedIn</b>
</a>
<a href="" class="text-white me-4">
<b class="fab fa-Telegram" id="social-5">Telegram</b>
</a>
</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
<!-- Grid row -->
<div class="row mt-3">
<!-- Grid column -->
<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  <!-- Content -->
  <h6 class="text-uppercase fw-bold">ExpandUrWealth</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    We offer various investment products and helps provide financial education to the new, inexperienced investors
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Products</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
  />
  <p>
    <a href="#!" class="text-white">Stocks</a>
  </p>
  <p>
    <a href="#!" class="text-white">Mutual Funds</a>
  </p>
  <p>
    <a href="#!" class="text-white">IPOs</a>
  </p>
  <p>
    <a href="#!" class="text-white">Digital Gold</a>
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Useful links</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    <a href="#!" class="text-white">About Us</a>
  </p>
  <p>
    <a href="#!" class="text-white">Support</a>
  </p>
  <p>
    <a href="#!" class="text-white">Pricing</a>
  </p>
  <p>
    <a href="#!" class="text-white">Account</a>
  </p>
  <p>
    <a href="#!" class="text-white">Careers</a>
  </p>
  <p>
    <a href="#!" class="text-white">Terminology</a>
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Contact</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p><i class="fas fa-home mr-3"></i> Fairfax, VA 22030, US</p>
  <p><i class="fas fa-envelope mr-3"></i> info@expandurwealth.com</p>
  <p><i class="fas fa-phone mr-3"></i> +1 (703) 401-3887</p>
  <p><i class="fas fa-print mr-3"></i> +1 (571) 992-6542</p>
</div>
<!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2023 ExpandUrWealth: Made with a sprinkle of investing magic
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->

    <!-- adding bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- adding external JS -->
    <script src="./js/Domestic_Holdings.js"></script>
</body>
</html>