<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport - the area of a web page that's visible to the user -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- adding external bootstrap5 CSS and External CSS3 links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
    <title>ExpandUrWealth_Home_Page</title>
</head>
<body>
    <!-- navbar, on the navbar - dropdown-menus, hyperlinks, search bar and button -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i>ExpandUr</i>Wealth</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Stocks
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/login">Domestic Stocks</a></li>
                      <li><a class="dropdown-item" href="#">US Stocks</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Mutual Funds
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/login">Equity Funds</a></li>
                      <li><a class="dropdown-item" href="/login">Debt Funds</a></li>
                      <li><a class="dropdown-item" href="/login">Index Funds</a></li>
                      <li><a class="dropdown-item" href="/login">Hybrid Funds</a></li>
                    </ul>
                </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/login">IPO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gold</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Learn&Invest
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/login">Fundamental and Industry Analysis</a></li>
                  <li><a class="dropdown-item" href="#">Technical Analysis</a></li>
                  <li><a class="dropdown-item" href="#">Macro & Micro Economics</a></li>
                  <li><a class="dropdown-item" href="#">Financial & Investing Psychology</a></li>
                  <li><a class="dropdown-item" href="#">Personal Finance</a></li>
                  <li><a class="dropdown-item" href="/login">Stock Market Terminology</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">News&Updates</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search about stocks here..." aria-label="Search">
              <button class="btn btn-success" type="submit">Explore</button>
            </form>
          </div>
        </div>
      </nav>

      <!-- adding a background image with .img-fluid class. This applies max-width: 100%; and height: auto; to the image 
           so that it scales with the parent element. 
           height : auto - element will automatically adjust its height to allow its info to be displayed correctly. -->
      <div class="image1">
        <img src="./img/Investing made accessible.png" class="img-fluid" alt="Background">
      </div>

      <!-- Sign Up or Register button -->
      <div class="button1">
        <form action="/login">
          <button type="submit" class="btn btn-success btn-lg"> Login / Register </button>
        </form>
      </div>

      <!-- HTML <h1> heading -->
      <div class="heading1">
        <h1>Diversify your investments by investing in various asset classes</h1>
      </div>

      <!-- bootstrap5 carousel slider images -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#"><img src="./img/pic1.png" class="d-block w-75" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h4>STOCKS</h4>
              <p>Investing in your favorite businesses is a deliciously easy experience with us</p>
              &nbsp;
              <form action="/register">
                <button type="link" class="btn btn-outline-success btn-lg"> Begin Investing </button>
              </form>
            </div>
          </div>
          <div class="carousel-item">
            <a href="#"><img src="./img/pic2.png" class="d-block w-75" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h4>Mutual Funds</h4>
              <p>Best and comparitively less risky approach to start your investing journey</p>
              &nbsp;
              <form action="/register">
                <button type="link" class="btn btn-outline-success btn-lg"> Begin Investing </button>
              </form>
            </div>
          </div>
          <div class="carousel-item">
            <a href="#"><img src="./img/pic3.png" class="d-block w-75" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h4>Initial Public Offerings</h4>
              <p>Get in on the ground floor of an exciting new business opportunity by investing in a company's IPO</p>
              &nbsp;
              <form action="/register">
                <button type="link" class="btn btn-outline-success btn-lg"> Begin Investing </button>
              </form>
            </div>
          </div>
          <div class="carousel-item">
            <a href="#"><img src="./img/pic4.png" class="d-block w-75" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h4>Digital Gold</h4>
              <p>Invest in a virtual time machine that transports your money back to the days of the gold standard</p>
              &nbsp;
              <form action="/register">
                <button type="link" class="btn btn-outline-success btn-lg"> Begin Investing </button>
              </form>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

       <!-- HTML <h1> heading -->
        <figure class="text-center">
          <blockquote class="blockquote">
            <h1>Choose Wisely and Prosper Financially</h1>
          </blockquote>
          <figcaption class="blockquote-footer">
            <h3>Your Finances. Your Call.</h3>
          </figcaption>
        </figure>

        <!-- Bootstrap5 card -->
        <div class="container-fluid mb-lg-3" id="Card1">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./img/pic5.png" class="img-fluid rounded-start" id="image5" alt="card-image">
              </div>
              <div class=" col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Your Account. Your Money. No Fees </h5>
                  <p class="card-text">Access to an investment account is free of charge</p>
                  &nbsp;
                  <p class="card-text">Want to invest your money in the various investment products offered by us?</p>
                  <form action="/register">
                    <button type="link" class="btn btn-success btn-lg"> Get Your Free Account </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  <br>
  <!-- Footer -->
  <footer
  class="text-center text-lg-start text-white"
  style="background-color: #1c2331"
  >
<!-- Section: Social media -->
<section
     class="d-flex justify-content-between p-4"
     style="background-color: darkgreen"
     >
<!-- Left -->
<div class="me-5">
<span>Don't be a stranger, connect with us on social networks and stay up to date.:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
<a href="#" class="text-white me-4">
  <b class="fab fa-twitter">Twitter</b>
</a>
<a href="#" class="text-white me-4">
  <b class="fab fa-google">Google</b>
</a>
<a href="" class="text-white me-4">
  <b class="fab fa-instagram">Insta</b>
</a>
<a href="" class="text-white me-4">
  <b class="fab fa-linkedin">LinkedIn</b>
</a>
<a href="" class="text-white me-4">
  <b class="fab fa-Telegram">Telegram</b>
</a>
</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
<!-- Grid row -->
<div class="row mt-3">
  <!-- Grid column -->
  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    <!-- Content -->
    <h6 class="text-uppercase fw-bold">ExpandUrWealth</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px"
        />
    <p>
      We offer various investment products and helps provide financial education to the new, inexperienced investors
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold">Products</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px"
    />
    <p>
      <a href="#!" class="text-white">Stocks</a>
    </p>
    <p>
      <a href="#!" class="text-white">Mutual Funds</a>
    </p>
    <p>
      <a href="#!" class="text-white">IPOs</a>
    </p>
    <p>
      <a href="#!" class="text-white">Digital Gold</a>
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold">Useful links</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px"
        />
    <p>
      <a href="#!" class="text-white">About Us</a>
    </p>
    <p>
      <a href="#!" class="text-white">Support</a>
    </p>
    <p>
      <a href="#!" class="text-white">Pricing</a>
    </p>
    <p>
      <a href="#!" class="text-white">Account</a>
    </p>
    <p>
      <a href="#!" class="text-white">Careers</a>
    </p>
    <p>
      <a href="#!" class="text-white">Terminology</a>
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold">Contact</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px"
        />
    <p><i class="fas fa-home mr-3"></i> Fairfax, VA 22030, US</p>
    <p><i class="fas fa-envelope mr-3"></i> info@expandurwealth.com</p>
    <p><i class="fas fa-phone mr-3"></i> +1 (703) 401-3887</p>
    <p><i class="fas fa-print mr-3"></i> +1 (571) 992-6542</p>
  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
 class="text-center p-3"
 style="background-color: rgba(0, 0, 0, 0.2)"
 >
© 2023 ExpandUrWealth: Made with a sprinkle of investing magic
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->

 

      <!-- adding bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>