<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name="viewport" content="width=device-width, iniial-scale=1.0">
        <link rel="stylesheet" href="./css/Ipo.css">
        <title>IPO</title>
    </head>
    <body>
        <div class="container">
            <video autoplay loop muted plays-inline class="background-clip">
                <source src="./img/video.mp4" type="video/mp4">
            </video>

        </div>
        <br> <br> <br>
        <section1>
            <h2 class ="tile">Initial Public Offering</h2>
            <p>(IPO)</p>
            <br>
            <p>Initial public offering is the process by which a private company can go public by sale of its stocks to general public.</p>
            <p>After the IPO has been issued, shares will begin trading on the market and will be able to access those shares more readily. </p>
            <br>
            <br>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SiAuBVrwqbw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
</section1>
<style>
    h4{
        text-align: center;
    }
</style>
<h4 class="title">Upcoming IPOs</h4>
<table class="content-table">
    <thead>
        <tr>
        <th>IPO Name</th>
        <th>Listing Date</th>
        <th>Closing Date</th>
        <th>Offer price</th>
        <th>Issue size </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pattech Fitwell Tube Components</td>
        <td>05-04-2023</td>
        <td>12-04-2023</td>
        <td>50.00</td>
        <td>12</td>
       </tr>
      <tr>
        <td>LabelKraft Technologies Ltd.</td>
        <td>13-10-2023</td>
        <td>15-10-2023</td>
        <td>55.00</td>
        <td>4.75</td>
      </tr>
      <tr>
        <td>Avalon Technologies Ltd.</td>
        <td>14-04-2023</td>
        <td>22-04-2023</td>
        <td>415.00</td>
        <td>865</td>
       </tr>
      <tr>
        <td>Bright Outdoor Media Ltd.</td>
        <td>06-04-2023</td>
        <td>20-04-2023</td>
        <td>146.00</td>
        <td>55.48</td>
      </tr>
      <tr>
        <td>Ducol Organice & Colours Ltd.</td>
        <td>06-05-2023</td>
        <td>08-05-2023</td>
        <td>78.00</td>
        <td>31.51</td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
  <h4 class="title">Recently Listed IPOs</h4>
   <table class="content-table">
    <thead>
        <tr>
        <th>IPO Name</th>
        <th>Close Date</th>
        <th>Listing Date</th>
        <th>Offer price</th>
        <th>Current price</th>
        <th>Holding Period</th>

    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aki India Ltd.</td>
        <td>03-10-2018</td>
        <td>04-06-2023</td>
        <td>11.00</td>
        <td>80.90</td>
        <td>4</td>

      </tr>
      <tr>
        <td>Global Surfaces Ltd.</td>
        <td>15-03-2023</td>
        <td>23-03-2023</td>
        <td>140.00</td>
        <td>186.10</td>
        <td>18</td>

      
      </tr>
      <tr>
        <td>VELS Film International Ltd.</td>
        <td>14-03-2023</td>
        <td>22-03-2023</td>
        <td>99.00</td>
        <td>99.00</td>
        <td>19</td>

      
      </tr>
      <tr>
        <td>Vertexplus Technologies Ltd.</td>
        <td>06-03-2023</td>
        <td>15-03-2023</td>
        <td>96.00</td>
        <td>102.50</td>
        <td>27</td>

      
      </tr>
      <tr>
        <td>Maiden Forgings Ltd.</td>
        <td>06-04-2023</td>
        <td>08-04-2023</td>
        <td>63.00</td>
        <td>59.86</td>
        <td>12</td>

      
      </tr>
      
    </tbody>
  </table>

<br>
<br> 
<br>
<br>
<br>
<br>
<br>
<section>
     <h2 class="title">FAQs</h2>
        <div class="faq">
            <div class="question">
                <h3>How do I participate in an IPO?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                If you have a brokerage account with a firm that is participating in the IPO, you may be able to participate by placing a conditional offer to buy (COB) through your brokerage. However, the availability of IPO shares can be limited and allocation is not guaranteed.
                </p>
                </div>

            </div>
            <div class="faq">
                <div class="question">
                    <h3>How is the IPO price determined?</h3>
    
                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>
                    The IPO price is determined by the investment banks hired by the company going public. The banks consider a variety of factors, including the company's financial performance, industry trends, and investor demand.
                    </p>
                    </div>
    
                </div>
                <div class="faq">
                    <div class="question">
                        <h3>What are the risks associated with investing in an IPO?</h3>
        
                        <svg width="15" height="10" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="answer">
                        <p>
                        Investing in an IPO can be risky, as the company is new to the public market and there may be limited information available about its performance. Additionally, the price of the stock may be volatile in the early days of trading.
                        </p>
                        </div>
        
                    </div>
                    <div class="faq">
                        <div class="question">
                            <h3>How can I learn more about a company before investing in its IPO?</h3>
            
                            <svg width="15" height="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="answer">
                            <p>
                            Before investing in an IPO, it is important to research the company and its financials in order to make an informed decision. This can include reading the company's prospectus, researching analyst reports, and monitoring news coverage of the company.

                            </p>
                            </div>
            
                        </div>
                        <div class="faq">
                            <div class="question">
                                <h3>How do I know if a company is going public?</h3>
                
                                <svg width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
                                </svg>
                            </div>
                            <div class="answer">
                                <p>
                                Companies typically announce their plans to go public several months in advance. You can stay informed by following financial news and checking the websites of investment banks that may be involved in the IPO. Your brokerage firm may also notify you of upcoming IPOs.

                                </p>
                                </div>
                
                            </div>
                        
                        
        </section>


        <script src="./js/Ipo.js"></script>
        
       
    </body>
</html>