*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'poppins';
   

}
.container{
    width: 100%;
    height: 70vh;
    background-color: rgba(0,0,0,0.4);
    display:flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}

.content h1{
    font-size: 95px;
    color: black;
    margin-bottom: 50px;
}

.content a{
    font-size: 23px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.content a:hover{
    background-color: #fff;
    color: #000;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 216px;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .background-clip{
        width:100%;
        height:auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width:auto;
        height: 100%;
    }
}

section1{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
}

section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin: 2rem 0rem;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;

}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.8rem;

}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer{
    max-height: 300px;;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);

    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.content-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
}

.content-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}


.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}