body {
    background-color: black;
}

.navbar {
    margin: auto;
}

.navbar-brand {
    color: green !important; /* !important rule in CSS is used to add more importance to a property/value than normal. 
                                  !important rule will override ALL previous styling rules for that specific property 
                                  on that element! */
}

.navbar-brand i {
    color: white !important;
}

#welcome {
    color: white;
}

.container {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.col {
    border-style: solid;
    border-color: darkgray;
    padding-top: 15px;
}

#heading-1 {
    color: white;
    text-align: center;
}

.table-light {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: whitesmoke;
    font-weight: bold;
  }

  td {
    color: white;
  }

  tr {
    background-color: black;
  }

  #stock-table tr:hover {
    cursor: pointer;
  }

  #stock-table th {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #stock-table td {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #returns-mf-1, #returns-mf-1-percent, #xirr-mf-1, #total-returns, #total-returns-percent {
    color: green;
  }

  #returns-mf-2, #returns-mf-2-percent, #xirr-mf-2 {
    color: red;
  }

  #mf-a:hover {
    color: green;
  }

  #mf-b:hover {
    color:red;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: whitesmoke;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
  }

  .buy-button {
    background-color: green;
    border-radius: 10px;
    border-color: green;
    font-size: 15px;
    padding: 10px 20px;
    width: 160px; /* increase the width to 150px */
  }

  .sell-button {
    background-color: green;
    border-radius: 10px;
    border-color: green;
    font-size: 15px;
    padding: 10px 20px;
    width: 160px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #about-stock {
    text-decoration: none;
  }

  #oneYear-return-1, #threeYear-return-1, #fiveYear-return-1, #oneYear-return-2, #threeYear-return-2, #fiveYear-return-2 
  {
    color: green;
  }